# Import data

In [3]:
import pandas as pd
import os
import glob

In [3]:
##Â HESITEZ PAS A RENDRE CETTE FONCTION PLUS MODULAIRE

# Get only columns we need (for now county_name and search_conducted)
def filterCols(df):
    if ('county_name' in df.columns) & ('search_conducted' in df.columns):
        if 'contraband_found' in df.columns:
            return df[['date','county_name', 'subject_race', 'officer_race', 'search_conducted', 'contraband_found']]
        else:
            return df[['date','county_name', 'subject_race', 'officer_race', 'search_conducted']]
    else :
            return df[['date', 'subject_race', 'officer_race']]

In [8]:
FOLDER = 'raw/'

csvfiles = glob.glob(os.path.join(FOLDER, '*.csv'))

data = pd.DataFrame(columns=['date','county_name', 'subject_race', 'officer_race', 'search_conducted', 'contraband_found'])

chunksize = 10 ** 6
for csvfile in csvfiles:
    for chunk in pd.read_csv(csvfile, usecols=lambda x: x in ['date','county_name', 'subject_race', 'officer_race', 'search_conducted', 'contraband_found'] \
                     , chunksize=chunksize, low_memory=False, error_bad_lines = False):
        data = pd.concat([data, chunk], axis=0 , ignore_index=True)

In [11]:
data.head(10)

,date,county_name,subject_race,officer_race,search_conducted,contraband_found
0,2009-10-27,Walla Walla County,white,white,False,NaN
1,2009-10-04,King County,black,white,False,NaN
2,2009-10-04,Kittitas County,white,white,False,NaN
3,2009-10-04,Clark County,white,white,False,NaN
4,2009-10-11,Kitsap County,white,white,False,NaN
5,2009-10-05,Skagit County,white,white,False,NaN
6,2009-10-02,Pierce County,black,white,False,NaN
7,2009-10-12,King County,white,black,True,False
8,2009-10-04,Grays Harbor County,white,white,False,NaN
9,2009-10-29,Mason County,NaN,white,False,NaN

## Clean data

In [12]:
# Convert date to datetime
data['date'] = pd.to_datetime(data['date'], infer_datetime_format=True).dt.date

In [13]:
# Remove fields where race unknown
data = data[(data['subject_race'] != 'unknown') & (data['officer_race'] != 'unknown')]

## DO NOT REMOVE NAN VALUES HERE SINCE SOME DATA SETS WERE MISSING SOME INFOS
## (EX COUNTY_NAME) BUT HAVE OTHER USEFUL FIELDS

FILTER ACCORDING TO TIME TOO

In [14]:
data.to_csv(r'data/data.csv', index=False)